main {
  text-align: center;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

main td
{
    /* left-align tables' cells */
    text-align: left;
}

/* makes site cover width of screen*/
main body{
  margin:0;
  padding:0;
}

.dropbtn {
    background-color: #ccc; /* light grey */
    color: #333; /* black text */
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    position: relative;
    width:200px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* Style the search field */
.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 71.3%;
  background: #f1f1f1;
}

/* Style the submit button */
.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.search button:hover {
  background: #0b7dda;
}

/* Clear floats */
.search ::after {
  content: "";
  clear: both;
  display: table;
}

/* navbar nieuw */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

html, body {
  font-family: 'Lato', serif;
}

.navbar-default {
  font-size: 1.15em;
  font-weight: 400;
  background-color: #006b96;
  padding: 10px;
  border: 0px;
  border-radius: 0px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #cbf0ff;
}

.navbar-default .navbar-brand {
  color: #002433;
}

.navbar-default .navbar-brand:hover {
  color: #ffffff;
  text-shadow: 1px -1px 8px #b3e9ff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-color: #004059;
  color: white;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #002433;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.dropdown-menu {
  background-color: #004059;
  color: white;
  border: 0px;
  border-radius: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown-menu>li>a {
  background-color: #004059;
  color: white;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: #004059;
  color:white;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #003246;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #ffffff;
}

@media (max-width: 767px) {
  .dropdown-menu>li>a {
    background-color: #006b96;
    color: #ffffff;
  }
  .dropdown-menu>li>a:hover {
    color: #ffffff;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #ffffff;
    background-color: transparent;
  }

  .dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #005577;
  }
} /* END Media Query */
.communitydiv {
    float: left;
    margin: 10px;
    width: 75%;
}


table.list {
    border-collapse: collapse;
}

table.list tr, td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
}

table.list tr:nth-child(even) {
    background-color: #dddddd;
}

table.communityoverview {
    border-collapse: collapse;
    width: 100%;
}

table.communityoverview tr, td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
}

table.communityoverview tr:nth-child(even) {
    background-color: #dddddd;
}

.half {
    font-weight: bold;
	  border-bottom: 2px solid #dddddd;
}

.textbox {
    float: left;
    width: 75%;
    height: 100px;
    margin: 10px;
    border: 2px solid #dddddd;
    border-style: solid;
}
.memberlist {
    float: right;
    text-align: center;
    width: 20%;
    margin: 10px;
    border: 2px solid #dddddd;
}

table.filmindex {
    border-collapse: collapse;
    float: left;
    width: 45%;
}

table.filmindex tr, td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
}

table.filmindex tr:nth-child(even) {
    background-color: #dddddd;
}

table.comindex {
    border-collapse: collapse;
    float: right;
    width: 45%;
}

table.comindex tr, td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
}

table.comindex tr:nth-child(even) {
    background-color: #dddddd;
}