{% extends "layout.html" %}

{% block title %}
    Movie information
{% endblock %}

{% block main %}
    <div class="container" style="display:flex;justify-content:center;align-items:center;">
        <div style="width:30%; float:left;">
            <img src={{ actor["image"]}} alt="{{actor["actor_name"]}}" style="border-radius: 5px; max-height:400px;">
        </div>

        <div style="width:70%">

    <p>
        <ul style="width:100%">
            <p style="border-bottom:1px solid grey">
                <font size="10">{{actor["actor_name"]}}</font>
            </p>
            <p style="border-bottom:1px solid grey">
                <font size="2">birthdate: {{ actor["birthdate"]}}</font>
            </p>

            <p style="border-bottom:1px solid grey">
                <font size="2">trademarks: {{ actor["trademarks"] }}</font>
            </p>

            <p style="border-bottom:1px solid grey">
                <font size="2">jobs: {{ actor["jobs"] }}</font>
            </p>

            <p style="border-bottom:1px solid grey">
                <font size="2">{{ actor["minibios"] }}</font>
            </p>
        </ul>
    </p>
    </div>
    </div>

    <h2><b>Recent movies {{actor["actor_name"]}} played in</b></h2><br>
    <div class="container">
    	{% for movie in recent_movies %}
    	    <a href="{{ url_for('movie_info', imdb_id=movie.film_id) }}">
        	    <div class="card" style="height:300px; width:19%; display: inline-block; vertical-align: top;">
        	  		<div class="cardcontainer" style="height:230px;">
        	  		    <img src={{ movie["image"]}} alt="{{ movie["title"] }}" style="max-height:230px; margin-top: 10px; vertical-align: center; border-radius: 5px;">
        	  		</div>
        	  		<div class="cardcontainer" style="height:70px; margin-top: 10px;">
                        <h4><b>{{ movie["title"] }}</b></h4>
        		    </div>
        		</div>
        	</a>
    	{% endfor %}
    </div>


{% endblock %}
