{% extends "layout.html" %}

{% block title %}
    Community
{% endblock %}

{% block main %}

    <body>
        {% if member %}
        <form action="{{ url_for('community', community=page.name ) }}" method="post">
            <div class="form-group" style="float:right" >
                <button class="btn btn-default" name="comaction" value="leave" type="submit">Leave community</button>
            </div>
        </form>
        {% else %}
        <form action="{{ url_for('community', community=page.name ) }}" method="post">
            <div class="form-group" style="float:right">
                <button class="btn btn-default" name="comaction" value="join" type="submit">Join community</button>
            </div>
        </form>
        {% endif %}


        <div class="textbox">
            <h1 text-align:"center">{{ page.name }}</h1>
        </div>

        <div class="memberlist">
            <caption><b>Members</b></caption>
            {% for member in members %}
                <ul>{{ member }}</ul>
            {% endfor %}
        </div>

        <div class="textbox">
            <h2>{{ page.description }}</h2>
        </div>
        {% if not films %}
        <div class="communitydiv">
        <h4>Your community list seems to be empty, go add some things!</h4>
        </div>
        {% else %}
        <div class="communitydiv">
        <table class="list" style= "width:100%">
            <thead>
                <tr>
                    <th>Poster</th>
                    <th>Film</th>
                    <th>Year</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for film in films %}
                    <tr>
                        <td>
                            <img src={{ film.image }} height="60" width="40">
                        </td>
                        <td>
                            <div class="half">
                                {{ film.title }}
                            </div>
                            <div>
                                {{ film.shortplot }}
                            </div>
                        </td>
                        <td>
                            {{ film.year }}
                        </td>
                        <td>
                            <div>
                                <a href="{{ url_for('community', community=page.name) }}">More</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        {% endif %}

        <div style="float:left">
        <br><textarea required maxlength = "356" rows="4" cols="50" name="comment" form="comment_section" placeholder = "type comment here"></textarea>
        <form action="{{ url_for('community', community=page.name ) }}" id="comment_section" method="post">

            <div class="form-group">
                <button class="btn btn-default" type= "submit" name= "commented" value = "True" >Comment</button>
            </div>

        </form>

        {% for comment in comments %}

        <div class="box">
        	<h4><font color=" #0099cc"><i>"{{comment["username"]}}" commented at {{comment["datetime"]}}</i></font></h4>
            <p><font color = "#004d66" face="Calibri light"><i>{{comment["comment"]}}</i></font><p>
        </div>

        <br>

        {% endfor %}

        </div>

    </body>


{% endblock %}