{% extends "layout.html" %}

{% block title %}
    Homepagina
{% endblock %}

{% block main %}
	<style>
    	.filmindex {
            border-collapse: collapse;
            float: left;
            width: 45%;
        }
        .comindex {
            border-collapse: collapse;
            float: right;
            width: 45%;
        }

        td, th {
            border: 2px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
	<body>
	    <h1 align="center">Filmdatabase</h1>
	    <h2 align="center">Op deze website kunt u lijsten aanmaken met uw favoriete films en community's volgen met de laatste filmupdates.</h2>

		<table class="filmindex">
	    <caption>Popular movies</caption>
	    <thead>
			<tr>
				<th>Rank</th>
				<th>Movie</th>
			</tr>
		</thead>
		{% for k, v in ranks.items() %}
		<tr>
			<td>{{ k }}</td>
			<td>{{ v }} &nbsp;<form action="{{ url_for('index') }}"><button class="btn btn-default" style="float:right" type= "submit" name= "filmname" value = {{ v }} >More</button></td>
		</tr>
		{% endfor %}
		</table>

		<table class="comindex">
		<caption>Popular communities</caption>
            <thead>
                <tr>
                    <th>Community</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for item in pages %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
{% endblock %}