{% extends "layout.html" %}

{% block title %}
    Homepagina
{% endblock %}

{% block main %}
<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">

		<!-- Website CSS style -->
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">

		<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

		<title>Admin</title>
	</head>
<style>


h1.title {
	font-size: 50px;
	font-family: 'Passion One', cursive;
	font-weight: 400;
}


h2.description {
	font-size: 25px;
	font-family: 'Oxygen', cursive;
	font-weight: 400;


hr{
	width: 10%;
	color: #fff;
}

</style>

	<body>
        <div class="container">
    	    <div class="row main">
    		    <div class="panel-heading">
    	            <div class="panel-title text-center">
    	                <h1 class="title">Moviedatabase</h1>
    	               	<hr />
    	            </div>
    	        </div>
                <div class="container">
		        <div class="row main">
			         <div class="panel-heading">
                        <div class="panel-title text-center">
	               	        <h2 class="description">On this site you are able to make lists with your favorite movies and follow communities with the latest movie-updates.</h2>
	               	    <hr />
	                   </div>
	               </div>
	               <br>




        <h2 text-align="left"><b>Popular movies</b></h2><br>
		<div class="container">
        <div id="main_area">
                <!-- Slider -->
                <div class="row">
                    <div class="col-xs-12" id="slider">
                        <!-- Top part of the slider -->
                        <div class="row">
                            <div class="col-sm-8" id="carousel-bounding-box" style= "margin-left:5%; width:40%">
                                <div class="carousel slide" id="myCarousel">
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        <div class="active item" data-slide-number="0">
                                        <img src="{{movies[0]["image"]}}" style="max-height:100%; max-height=100%; display:block; margin-left:auto; margin-right: auto;"></div>

                                        <div class="item" data-slide-number="1">
                                        <img src="{{movies[1]["image"]}}" style="max-height:100%; max-height=100%; display:block; margin-left:auto; margin-right: auto;"></div>

                                        <div class="item" data-slide-number="2">
                                        <img src="{{movies[2]["image"]}}" style="max-height:100%; max-height=100%; display:block; margin-left:auto; margin-right: auto;"></div>

                                        <div class="item" data-slide-number="3">
                                        <img src="{{movies[3]["image"]}}" style="max-height:100%; max-height=100%; display:block; margin-left:auto; margin-right: auto;"></div>

                                        <div class="item" data-slide-number="4">
                                        <img src="{{movies[4]["image"]}}" style="max-height:100%; max-height=100%; display:block; margin-left:auto; margin-right: auto;"></div>

                                        <div class="item" data-slide-number="5">
                                        <img src="{{movies[5]["image"]}}" style="max-height:100%; max-height=100%; display:block; margin-left:auto; margin-right: auto;"></div>
                                    </div><!-- Carousel nav -->
                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </a>
                                    </div>
                            </div>

                            <div class="col-sm-4" id="carousel-text" style="max-height:400px; overflow: hidden; text-align: justify; margin-right:5%; width:50%"></div>

                            <div id="slide-content" style="display: none;">
                                <div id="slide-content-0">
                                    <a href="{{ url_for('movie_info', imdb_id=movies[0].id) }}"><h2 style="text-align: center; font-family: 'Passion One', cursive;">{{ movies[0].title }}</h2></a>
                                    <p>{{ movies[0].summary}}</p>
                                </div>

                                <div id="slide-content-1">
                                    <a href="{{ url_for('movie_info', imdb_id=movies[1].id) }}"><h2 style="text-align: center; font-family: 'Passion One', cursive;">{{ movies[1].title }}</h2></a>
                                    <p>{{ movies[1].summary}}</p>
                                </div>

                                <div id="slide-content-2">
                                    <a href="{{ url_for('movie_info', imdb_id=movies[2].id) }}"><h2 style="text-align: center; font-family: 'Passion One', cursive;">{{ movies[2].title }}</h2></a>
                                    <p>{{ movies[2].summary}}</p>
                                </div>

                                <div id="slide-content-3">
                                    <a href="{{ url_for('movie_info', imdb_id=movies[3].id) }}"><h2 style="text-align: center; font-family: 'Passion One', cursive;">{{ movies[3].title }}</h2></a>
                                    <p>{{ movies[3].summary}}</p>
                                </div>

                                <div id="slide-content-4">
                                    <a href="{{ url_for('movie_info', imdb_id=movies[4].id) }}"><h2 style="text-align: center; font-family: 'Passion One', cursive;">{{ movies[4].title }}</h2></a>
                                    <p>{{ movies[4].summary}}</p>
                                </div>

                                <div id="slide-content-5">
                                    <a href="{{ url_for('movie_info', imdb_id=movies[5].id) }}"><h2 style="text-align: center; font-family: 'Passion One', cursive;">{{ movies[5].title }}</h2></a>
                                    <p>{{ movies[5].summary}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/Slider-->

                <div class="row hidden-xs" id="slider-thumbs">
                        <!-- Bottom switcher of slider -->
                        <ul class="hide-bullets">
                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-0"><img src="{{movies[0]["image"]}}"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-1"><img src="{{movies[1]["image"]}}"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-2"><img src="{{movies[2]["image"]}}"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-3"><img src="{{movies[3]["image"]}}"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-4"><img src="{{movies[4]["image"]}}"></a>
                            </li>

                            <li class="col-sm-2">
                                <a class="thumbnail" id="carousel-selector-5"><img src="{{movies[5]["image"]}}"></a>
                            </li>
                        </ul>
                </div>
        </div>
</div>

<h2 text-align="left" ><b>Popular communities</b></h2><br>
<div class="container"style=" display: flex;">
			{% for item in pages %}
			<a href="{{ url_for('community', community=item.name) }}">
    			<div class="card">
    	  			<img src="https://cdn3.iconfinder.com/data/icons/iboxgrey/Group.png" alt="Avatar">
    	  			<div class="cardcontainer">
    	    			<h4><b><a href="{{ url_for('community', community=item.name) }}"><font style="font-family: 'Passion One', cursive;">{{ item.name }}</font></a></b></h4>
    	    			<p>{{ item.description }}</p>
    	  			</div>
    			</div>
			</a>
			{% endfor %}
</div>