<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Collectionneur</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"></script>
<style type="text/css">
	.navbar{
		margin-top: 10px;
	}


#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

</style>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
jQuery(document).ready(function($) {

        $('#myCarousel').carousel({
                interval: 5000
        });

        $('#carousel-text').html($('#slide-content-0').html());

        //Handles the carousel thumbnails
       $('[id^=carousel-selector-]').click( function(){
            var id = this.id.substr(this.id.lastIndexOf("-") + 1);
            var id = parseInt(id);
            $('#myCarousel').carousel(id);
        });


        // When the carousel slides, auto update the text
        $('#myCarousel').on('slid.bs.carousel', function (e) {
                 var id = $('.item.active').data('slide-number');
                $('#carousel-text').html($('#slide-content-'+id).html());
        });
});
</script>
</head>
<body>
    <div class="container">
    <nav class="navbar navbar-inverse">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
                        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="{{ url_for('index') }}" class="navbar-brand">Collectioneur</a>
                    </div>
                    <!-- Collection of nav links, forms, and other content for toggling -->
                    <div id="navbarCollapse" class="collapse navbar-collapse">
                        {% if session.user_id %}
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('myprofile') }}">Profile</a></li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Communities <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('communityoverview') }}">All communities</a></li>
                                <li><a href="{{ url_for('mycommunities') }}">My communities</a></li>
                                <li><a href="{{ url_for('createcommunity') }}">Create community</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!--- User --->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>      {{ session["username"] }}<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="{{ url_for('myprofile') }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> My profile</a></li>
                            <li><a href="{{ url_for('mylist') }}"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> My lists</a></li>
                            <li><a href="{{ url_for('settings') }}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> User Settings</a></li>
                            <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
                        </ul>
                      </li>
                    </ul>
                    <!--- Search -->
                    <form class="navbar-form navbar-left" action="{{ url_for('search') }}" method="post">
                    <input type="text" placeholder="Search..." name="search" class="form-control">
                    <select class="form-control" name ="search_for">
                        <option value="None" {% if select_something_select %} selected {% endif %}>Search for</option>
                        <option value="movie" {% if movie_select %} selected {% endif %}>Movie</option>
                        <option value="actor" {% if actor_select %} selected {% endif %}>Actor</option>
                        <option value="community" {% if community_select %} selected {% endif %}>Community</option>
                    </select>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    </form>
                    <br><br>
                    {% else %}
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Profile</a></li>
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Communities <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('communityoverview') }}">All communities</a></li>
                                <li><a href="{{ url_for('mycommunities') }}">My communities</a></li>
                                <li><a href="{{ url_for('createcommunity') }}">Create community</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                        <!--- Login dropdown --->
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
                			<ul id="login-dp" class="dropdown-menu">
                				<li>
                					     <div class="row">
                							<div class="col-md-12">
                								 <form class="form" role="form" method="post" action="{{ url_for('login') }}" accept-charset="UTF-8" id="login-nav">
                										<div class="input-group" class="form-group">
                											 <label class="sr-only" for="exampleInputEmail2">Username</label>
                											 <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                											 <!--<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>-->
                											 <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" required type="text"/>
                										</div>
                										<div class="input-group" class="form-group">
                											 <label class="sr-only" for="exampleInputPassword2">Password</label>
                											 <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                											 <input class="form-control" name="password" placeholder="Password" required type="password"/>
                											 <!--<input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>-->
                										</div>
                										<div class="form-group">
                											 <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                										</div>
                								 </form>
                							</div>
					 </div>
				</li>
			</ul>
			</li>
      </ul>
                    <!--- Search -->
                    <form class="navbar-form navbar-left" action="{{ url_for('search') }}" method="post">
                    <input type="text" placeholder="Search..." name="search" class="form-control">
                    <select class="form-control" name ="search_for">
                        <option value="None" {% if select_something_select %} selected {% endif %}>Search for</option>
                        <option value="movie" {% if movie_select %} selected {% endif %}>Movie</option>
                        <option value="actor" {% if actor_select %} selected {% endif %}>Actor</option>
                        <option value="community" {% if community_select %} selected {% endif %}>Community</option>
                    </select>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    </form>
                    <br><br>
                    {% endif %}
                </div>
            </nav>
            {% if get_flashed_messages() %}
                <header>
                    <div class="alert alert-info" role="alert">
                        {{ get_flashed_messages() | join(" ") }}
                    </div>
                </header>
            {% endif %}

            <main>
                {% block main %}{% endblock %}
            </main>
        </div>
    </body>
</html>

<!---<li><a href="{{ url_for('search') }}"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Search</a></li> ---->