{% extends "layout.html" %}

{% block title %}
    List
{% endblock %}

{% block main %}
    <head>
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }
            td, th {
                border: 2px solid #dddddd;
                text-align: left;
                padding: 8px;
                max-width: 70%;
            }
            tr:nth-child(even) {
                background-color: #dddddd;
            }
            td .half {
                font-weight: bold;
	            border-bottom: 2px solid #dddddd;
            }
        </style>
    </head>



    <body>
        <table>
            <thead>
                <tr>
                    <th>Cover</th>
                    <th>Film</th>
                    <th>Year</th>
                </tr>
            </thead>
                <tbody>
                     {% for info in information %}
                        <tr>
                            <td width="180"><img src={{info["image"]}} alt="movie picture"</td>
                            <td>
                                <div class="half">{{ info.title }}</div>
                                <div>{{ info["summary"] }}</div>
                            </td>
                            <td>{{ info["year"] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
    </body>
{% endblock %}