{% extends "layout.html" %}

{% block title %}
    List
{% endblock %}

{% block main %}

    <body>
        {% if not information %}
            <table class="list">
    	    <caption>My movies</caption>
    	    <thead>
    			<tr>
    			    <th>No films found...</th>
    			</tr>
    		</thead>
    		<tr>
                <td><a href="{{ url_for('search') }}">Go add some!</a></td>
    		</tr>
    		</table>
    	{% else %}
        <table class="list">
            <thead>
                <tr>
                    <th>Cover</th>
                    <th>Film</th>
                    <th>Year</th>
                </tr>
            </thead>
                <tbody>
                     {% for info in information %}
                        <tr>
                            <td width="180"><a href="{{ url_for('movie_info', imdb_id=info.film_id) }}"><img src={{info["image"]}} alt="movie picture"</a></td>
                            <td>
                                <div class="half">{{ info.title }}</div>
                                <div>{{ info["summary"] }}</div>
                            </td>
                            <td>{{ info["year"] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
        {% endif %}
        </table>
    </body>
{% endblock %}