{% extends "layout.html" %}

{% block title %}
    Movie information
{% endblock %}

{% block main %}

    <br><p>
        <br><font size="10">{{full_movie_info["title"]}}</font><br>
    </p>
    <img src={{full_movie_info["image"]}} alt="movie picture" height="382" width="268">

    <p>
        <ul style="width:100%">
            <p style="border-bottom:1px solid grey">
            <font size="2">title: {{full_movie_info["title"]}}</font>
            </p>

            <p style="border-bottom:1px solid grey">
            <font size="2">year: {{full_movie_info["year"]}}</font>
            </p>

            <p style="border-bottom:1px solid grey">
            <font size="2">plot: {{full_movie_info["plot"]}}</font>
            </p>

            <p style="border-bottom:1px solid grey">
            <font size="2">genre(s) : {{full_movie_info["genre"]}}</font>
            </p>

            <p style="border-bottom:1px solid grey">
            <font size="2">rating : {{full_movie_info["rating"]}}</font>
            </p>
        </ul>
    </p><br>
        {% if session.user_id %}
        <!-- Trigger the modal with a button -->
		<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">Add to list/community</button>
		<!-- Modal -->
		<div id="myModal" class="modal fade" role="dialog">
		  <div class="modal-dialog modal-sm">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h3 class="modal-title">Add to:</h3>
		      </div>
		      <div class="modal-body">
		          <form action="{{ url_for('movie_info', imdb_id=full_movie_info.imdb_id) }}" method="post">
                            <div class="form-group" style="float:left">
                                <button class="btn btn-default" name="listadd" value="add" type="submit">My list</button>
                            </div>
                        </form>
                </div>
                <div text-align:"left" class="modal-body">
		          <h4>Community:</h4>
		          {% if not mycom %}
		              <ul>Go join some communities!</ul>
		          {% else %}
		          {% for item in mycom %}
		              <ul>
                        <form action="{{ url_for('movie_info', imdb_id=full_movie_info.imdb_id) }}" method="post">
                            <div class="form-group" style="float:left">
                                <button class="btn btn-default" name="comadd" value={{ item.name }} type="submit">{{ item.name }}</button>
                            </div>
                        </form>
                    </ul>
                	{% endfor %}
		          {% endif %}



		      </div>
		    </div>
		  </div>
		</div>
		{% endif %}

    <p><font size="10">Actors that played in the movie</font></p>

    <table>
        {% for actor in actors%}
            <th width="20%"><font size="5">{{ actor["name"] }}</font>
                <a href="{{ url_for('actor_info', actor_id=actor.actor_id) }}"><img src={{ actor["image"]}} alt="actor picture"></a>
                <form action="{{ url_for('actor_info') }}">
                    <fieldset>
                        <div class="form-group">
                            <button class="btn btn-default" type= "submit" name= "actor_id" value = {{actor["actor_id"]}} >Go to actor page</button>
                        </div>
                    </fieldset>
                </form>
            </th>
        {% endfor %}
    </table>

    <p><font size="10">Similar movies</font></p>
    <table>

    {% for similar in similars %}
    <th width="20%"><font size="5">{{ similar["title"] }}</font>
    <a href="{{ url_for('movie_info', imdb_id=similar.imdb_id) }}"><img src={{ similar["image"]}} alt="movie picture"></a>
    <form action="{{ url_for('movie_info') }}">
        <fieldset>
            <div class="form-group">
                <button class="btn btn-default" type= "submit" name= "imdb_id" value = {{similar["imdb_id"]}} >Go to movie page</button>
            </div>
        </fieldset>
    </form></th>

    {% endfor %}
    </table>

{% endblock %}
