{% extends "layout.html" %}

{% block title %}
    Movie information
{% endblock %}

{% block main %}

    <br><p>
        <br><font size="10">{{full_movie_info["title"]}}</font><br>
    </p>
    <img src={{full_movie_info["image"]}} alt="movie picture" height="382" width="268">

    <p>
        <ul style="width:100%">
            <p style="border-bottom:1px solid grey">
            <font size="2">title: {{full_movie_info["title"]}}</font>
            </p>

            <p style="border-bottom:1px solid grey">
            <font size="2">year: {{full_movie_info["year"]}}</font>
            </p>

            <p style="border-bottom:1px solid grey">
            <font size="2">plot: {{full_movie_info["plot"]}}</font>
            </p>

            <p style="border-bottom:1px solid grey">
            <font size="2">genre(s) : {{full_movie_info["genre"]}}</font>
            </p>

            <p style="border-bottom:1px solid grey">
            <font size="2">rating : {{full_movie_info["rating"]}}</font>
            </p>
        </ul>
    </p><br>
        {% if session.user_id %}
        <!-- Trigger the modal with a button -->
		<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">Add to list/community</button>
		<!-- Modal -->
		<div id="myModal" class="modal fade" role="dialog">
		  <div class="modal-dialog modal-sm">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h3 class="modal-title">Add to:</h3>
		      </div>
		      <div class="modal-body">
		      <div class="container">
		          <form action="{{ url_for('movie_info', imdb_id=full_movie_info.imdb_id) }}" method="post">
                            <div class="form-group" style="float:left">
                                <button class="btn btn-default" name="listadd" value="add" type="submit">My list</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-body">
		          <h4 text-align:"left">Community:</h4>
		          {% if not mycom %}
		              <ul><a href="{{ url_for('communityoverview') }}">Go join some communities!</a></ul>
		          {% else %}
		          {% for item in mycom %}
		              <div class="container">
                        <form action="{{ url_for('movie_info', imdb_id=full_movie_info.imdb_id) }}" method="post">
                            <div class="form-group" style="float:left">
                                <button class="btn btn-default" name="comadd" value={{ item.name }} type="submit">{{ item.name }}</button>
                            </div>
                        </form>
                    </div>
                	{% endfor %}
		          {% endif %}
		      </div>
		    </div>
		  </div>
		</div>
		{% endif %}

    <h2><b>Actors that played in the movie</b></h2><br>
    <div class="container">
    	{% for actor in actors %}
    	    <a href="{{ url_for('actor_info', actor_id=actor.actor_id) }}">
        	    <div class="card" style="height:300px; width:19%; display: inline-block; vertical-align: top; position: relative;">
        	  		<div class="cardcontainer" style="height:230px;">
        	  		    <img src={{ actor["image"]}} alt="{{ actor.name }}" style="max-height:230px; margin-top: 10px; vertical-align: center;">
        	  		</div>
        	  		<div class="cardcontainer" style="height:70px; margin-top: 10px;">
                        <h4><b>{{ actor.name }}</b></h4>
        		    </div>
        		</div>
        	</a>
    	{% endfor %}
    </div>


    <p><font size="10">Similar movies</font></p>
    <table>

    <table width="100%">
        <thead>
            <tr>
                {% for similar in similars %}
                <th width="20%">{{ similar["title"] }}</th>
                {% endfor %}
            </tr>
        </thead>

        {% for similar in similars %}
                <td style="text-align: center;">
                    <a href="{{ url_for('movie_info', imdb_id=similar.imdb_id) }}"><img src={{ similar["image"]}} alt="movie picture" style="max-height:230px"></a>
                </td>
            </th>
        {% endfor %}
    </table>
{% endblock %}
