{% extends "layout.html" %}

{% block title %}
    My communities
{% endblock %}

{% block main %}


    <body>
        {% if not pages %}
    		<table class="communityoverview">
    		<caption>My communities</caption>
            <thead>
                <tr>
                    <th>No communities found...</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td><a href="{{ url_for('communityoverview') }}">Go add some!</a></td>
                    </tr>
            </tbody>
        </table>
        {% else %}
        <table class="communityoverview">
            <caption>My communities</caption>
            <thead>
                <tr>
                    <th>Community</th>
                    <th>Description</th>
                    <th>Members</th>
                    <th>Items</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for page in pages %}
                    <tr>
                        <td><a href="{{ url_for('community', community=page.name) }}">{{ page.name }}</a></td>
                        <td>{{ page.description }}</td>
                        <td>{{ page.members }}</td>
                        <td>{{ page.length }}</td>
                        <td>
                            <div>
                                <form action="{{ url_for('community', community=page.name) }}" method="post">
                                    <div class="form-group" style="float:right" >
                                        <button class="btn btn-default" name="comaction" value="leave" type="submit">Leave community</button>
                                    </div>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        {% endif %}
        </table>
    </body>
{% endblock %}