{% extends "layout.html" %}

{% block title %}
    Homepagina
{% endblock %}

{% block main %}
	<style>
    	.filmindex {
            border-collapse: collapse;
            float: left;
            width: 45%;
        }
        .comindex {
            border-collapse: collapse;
            float: right;
            width: 45%;
        }

        td, th {
            border: 2px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
	<body>
	    <h1 align="center">My profile</h1>

		<table class="filmindex">
	    <caption>My movies</caption>


		<tr>
			<td>No films added to list yet!</td>
		</tr>

		</table>

		<table class="comindex">
		<caption>Communities that you are a member of</caption>
            <thead>
                <tr>
                    <th>Community</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for community in communities %}
                    <tr>
                        <td>{{ community.name }} <a class="btn btn-default" style="float:right" href="{{ url_for('community', community=community.name) }}">Visit page</a></td>
                        <td>{{ community.description }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
{% endblock %}