{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">

		<!-- Website CSS style -->
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">

		<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

		<title>Admin</title>
</head>
    <!---
    <form class="search" action="{{ url_for('search') }}" method="post">
        <input type="text" placeholder="Search.." name="search">
        <select style="float:left" name ="search_for">
            <option value="None" {% if select_something_select %} selected {% endif %}>search for...</option>
            <option value="movie" {% if movie_select %} selected {% endif %}>Movie</option>
            <option value="actor" {% if actor_select %} selected {% endif %}>Actor</option>
            <option value="community" {% if community_select %} selected {% endif %}>Community</option>
        </select>
        <button type="submit"><i class="fa fa-search"></i></button><br>

    </form>

    <br><br>
    -->
    <style>


h1.title {
	font-size: 50px;
	font-family: 'Passion One', cursive;
	font-weight: 400;
}


h2.description {
	font-size: 25px;
	font-family: 'Oxygen', cursive;
	font-weight: 400;


hr{
	width: 10%;
	color: #fff;
}

</style>







    <div class="container">
    	    <div class="row main">
    		    <div class="panel-heading">
    	            <div class="panel-title text-center">
    	                <h1 class="title">Results</h1>
    	               	<hr />
    	            </div>
    	            </div>
    {% for movie_info in all_movie_info %}

        <div class="container" style="display:flex;justify-content:center;align-items:center;">


        <div style="width:30%; float:left;">
            <a href="{{ url_for('movie_info', imdb_id=movie_info.imdb_id) }}"><img src={{movie_info["image"]}} alt="{{movie_info["title"]}}" style="border-radius: 5px; max-height:400px;"></a>
        </div>


        <div style="width:70%">
                <ul style="width:100%">
                    <p style="border-bottom:1px solid grey">
                    <a href="{{ url_for('movie_info', imdb_id=movie_info.imdb_id) }}"><font size="10"><font style="font-family: 'Passion One', cursive;">{{movie_info["title"]}}</font></font></h2></a>
                    </p>

                    <p style="border-bottom:1px solid grey">
                    <font size="2">year: {{movie_info["year"]}}</font>
                    </p>

                    <p style="border-bottom:1px solid grey">
                    <font size="2">plot: {{movie_info["short plot"]}}</font>
                    </p>
                    <p>
                        {% if session.user_id %}
                        <!-- Trigger the modal with a button -->
                		<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">Add to list/community</button>
                		<!-- Modal -->
                		<div id="myModal" class="modal fade" role="dialog">
                		  <div class="modal-dialog modal-sm">

                		    <!-- Modal content-->
                		    <div class="modal-content">
                		      <div class="modal-header">
                		        <button type="button" class="close" data-dismiss="modal">&times;</button>
                		        <h3 class="modal-title">Add to:</h3>
                		      </div>
                		      <div class="modal-body">
                		      <div class="container">
                		          <form action="{{ url_for('movie_info', imdb_id=movie_info.imdb_id) }}" method="post">
                                            <div class="form-group" style="float:left">
                                                <button class="btn btn-default" name="listadd" value="add" type="submit">My list</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-body">
                		          <h4 text-align:"left">Community:</h4>
                		          {% if not mycom %}
                		              <ul><a href="{{ url_for('communityoverview') }}">Go join some communities!</a></ul>
                		          {% else %}
                		          {% for item in mycom %}
                		              <div class="container">
                                        <form action="{{ url_for('movie_info', imdb_id=movie_info.imdb_id) }}" method="post">
                                            <div class="form-group" style="float:left">
                                                <button class="btn btn-default" name="comadd" value={{ item.name }} type="submit">{{ item.name }}</button>
                                            </div>
                                        </form>
                                    </div>
                                	{% endfor %}
                		          {% endif %}
                		      </div>
                		    </div>
                		  </div>
                		</div>
                		{% endif %}
                    </p>
                </ul>
        </div>
    </div><br><br>
    {% endfor %}

    {% for actor in actors %}

    <div class="container" style="display:flex;justify-content:center;align-items:center;">
        <div style="width:30%; float:left;">
            <a href="{{ url_for('actor_info', actor_id=actor.actor_id) }}"><img src="{{actor["image"]}}" style="border-radius: 5px; max-height:400px;"></a>
        </div>

        <div style="width:70%">

    <p>
        <ul style="width:100%">
            <p style="border-bottom:1px solid grey">
                <a href="{{ url_for('actor_info', actor_id=actor.actor_id) }}"><font size="10"><font style="font-family: 'Passion One', cursive;">{{actor["actor_name"]}}</font></font></a>
            </p>
            <p style="border-bottom:1px solid grey">
                <font size="2">birthdate: {{ actor["birthdate"]}}</font>
            </p>

            <p style="border-bottom:1px solid grey">
                <font size="2">trademarks: {{ actor["trademarks"] }}</font>
            </p>

            <p style="border-bottom:1px solid grey">
                <font size="2">jobs: {{ actor["jobs"] }}</font>
            </p>
        </ul>
    </p>
    </div>
    </div><br><br>

    {% endfor %}


    {% for community in communities_found %}

    <div class="container" style="display:flex;justify-content:center;align-items:center;">
            <div style="width:30%; float:left; max-height:400px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5); transition: 0.3s;border-radius: 5px;">
                <div class="tile"><img src="{{ community.preview[0] }}" ></div>
                <div class="tile"><img src="{{ community.preview[1] }}" ></div>
                <div class="tile"><img src="{{ community.preview[2] }}" ></div>
                <div class="tile"><img src="{{ community.preview[3] }}" ></div>
            </div>

        <div style="width:70%">

    <p>
        <ul style="width:100%">
            <p style="border-bottom:1px solid grey">
                <a href="{{ url_for('community', community=community["name"]) }}"><font size="10"><font style="font-family: 'Passion One', cursive;">{{community["name"]}}</font></font></a>
            </p>
            <p style="border-bottom:1px solid grey">
                <font size="2">description: {{community["description"]}}</font>
            </p>

            <p style="border-bottom:1px solid grey">
                <font size="2">total members: {{community["members amount"]}}</font>
            </p>
            {% if not community.member and session["user_id"] %}
            <p style="border-bottom:1px solid grey">
                <div>
                    <form action="{{ url_for('community', community=community["name"]) }}" method="post">
                        <div class="form-group" style="">
                        <button class="btn btn-default" name="comaction" value="join" type="submit">Join community</button>
                        </div>
                     </form>
                </div>
            </p>
            {% endif %}
        </ul>
    </p>
    </div>
    </div><br><br>

    {% endfor %}
{% endblock %}
