{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}
<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">

		<!-- Website CSS style -->
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">

		<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

		<title>Admin</title>
	</head>
<style>
h1.title {
	font-size: 50px;
	font-family: 'Passion One', cursive;
	font-weight: 400;
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 330px;
    padding: 40px 40px;

}
</style>
    <body>
    	<script>
    		function isPasswordMatchChangePassword() {
    		var password = $("#txtNewPassword").val();
            var confirmPassword = $("#txtConfirmPassword").val();

			if (password.length == 0 || confirmPassword.length == 0)  $("#divCheckPassword").html("");
            else if (password != confirmPassword) $("#divCheckPassword").html("Passwords do not match!");
            else $("#divCheckPassword").html("Passwords match.");
        	}

        	function isPasswordMatchDeleteAccount() {
    		var password = $("#txtNewPassword2").val();
            var confirmPassword = $("#txtConfirmPassword2").val();
            var checkbox = $("#checker").val();

			if (password.length == 0 || confirmPassword.length == 0) $("#divCheckPassword2").html("");
            else if (password != confirmPassword) $("#divCheckPassword2").html("Passwords do not match!");
            else if (!document.getElementById('checker').checked) $("#divCheckPassword2").html("checkbox not selected");
            else $("#divCheckPassword2").html("Passwords match.");
        	}

        	function ConfirmButtonChangePassword() {
            var password = $("#txtNewPassword").val();
            var confirmPassword = $("#txtConfirmPassword").val();

            if (password != confirmPassword && password.length > 0 && confirmPassword.length > 0) return false;

    		return true;
        	}

        	function ConfirmButtonDeleteAccount() {
            var password = $("#txtNewPassword2").val();
            var confirmPassword = $("#txtConfirmPassword2").val();
            var username = $("#username").val();
            var checkbox = $("#checker").val();

            if ((password != confirmPassword || !document.getElementById('checker').checked) && password.length > 0 && confirmPassword.length > 0 && username.length > 0) return false;


    		return true;
        	}

        	$(document).ready(function () {
		    $("#txtConfirmPassword").keyup(isPasswordMatchChangePassword);
		    $("#txtNewPassword").keyup(isPasswordMatchChangePassword);
		    $("#txtConfirmPassword2").keyup(isPasswordMatchDeleteAccount);
		    $("#txtNewPassword2").keyup(isPasswordMatchDeleteAccount);
			});

</script>
		<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h1 class="title">On this page you can change your password or delete your account</h1>
	               		<hr />
	               	</div>
	            </div>
	            <div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h2 class="title">Change password</h2>
	               		<hr />
	               	</div>
	            </div>
				<div class="main-login main-center">
					<form class="form-horizontal" method="post" action="{{ url_for('settings') }}">
						{% if OldPasswordIncorrect %} <div><font color="red">Old password is incorrect.</font></div> {% endif %}
						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" required class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">New password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" minlength = "8" required class="form-control" name="password-new" id="txtNewPassword" placeholder="Enter your Password"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Confirm new password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" minlength = "8" required class="form-control" name="password-new-again" id="txtConfirmPassword" placeholder="Confirm your Password" onChange="isPasswordMatchChangePassword"/>
								</div>
									<div id="divCheckPassword"></div>
							</div>
						</div>

						<div class="form-group ">
							<button type="submit" onclick='return ConfirmButtonChangePassword();' class="btn btn-primary btn-lg btn-block login-button" value= "change password selected" name="change password selected">Change password</button>
						</div>
					</form>
				</div>

				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h2 class="title">Delete account</h2>
	               		<hr />
	               	</div>
	            </div>
				<div class="main-login main-center">
					<form class="form-horizontal" method="post" action="{{ url_for('settings') }}">
						{% if NotCorrectUser %} <div><font color="red">You can only delete your own account.</font></div> {% endif %}
						{% if Passwordincorrect %} <div><font color="red">Password incorrect.</font></div> {% endif %}
						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Username</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" required class="form-control" name="username" id="username"  placeholder="Enter your Username"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" minlength = "8" required class="form-control" name="password" id="txtNewPassword2"  placeholder="Enter your Password"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" minlength = "8" required class="form-control" name="password-again" id="txtConfirmPassword2"  placeholder="Confirm your Password" onChange="isPasswordMatchDeleteAccount();"/>
								</div>
									<div id="divCheckPassword2"></div>
							</div>
						</div>

						<div>
            				<input type="checkbox" id="checker" name="delete account" value=True onClick = "isPasswordMatchDeleteAccount();">
            				<label for="checker">Yes, I want to delete my account.</label>
            			</div>

						<div class="form-group ">
							<button type="submit" onclick='return ConfirmButtonDeleteAccount();'class="btn btn-primary btn-lg btn-block login-button" value= "delete account selected" name= "delete account selected">Delete account</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="assets/js/bootstrap.js"></script>
	</body>
{% endblock %}
